* {
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    min-height: 100vh;
}

.container {
    padding: 2rem;
    height: 500px;
    width: 80%;
    margin: 0 auto;
    border: solid #888 1px;
}

input {
    height: 2rem;
    width: 25rem;
    background-color: #ddd;

}

body {
    font-family: Arial;
}

.myForm {
    display: grid;
    grid-template-columns: [labels] auto [controls] 1fr;
    grid-auto-flow: row;
    grid-gap: .8em;
    background: #eee;
    padding: 1.2em;
}

.myForm>label {
    grid-column: labels;
    grid-row: auto;
}

.myForm>input,
.myForm>textarea,
.myForm>button {
    grid-column: controls;
    grid-row: auto;
    border: none;
    padding: 1em;
}

button {
    background: #0066A2;
    color: white;
    border-style: outset;
    border-color: #0066A2;
    height: 50px;
    width: 100px;
    font: bold15px arial, sans-serif;
    text-shadow: none;
    transition: all .25s;
}

button:hover {
    background: #016ABC;
    color: #fff;
    border: 1px solid #eee;
    border-radius: 80px;
    box-shadow: 5px 5px 5px #eee;
    text-shadow: none;
    transform: scale(1.3, 1);
    z-index: 1;
}