* {
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    min-height: 100vh;
}

.container {
    padding: 2rem;
    height: 500px;
    width: 80%;
    margin: 0 auto;
    border: solid #888 1px;
}

input {
    height: 2rem;
    width: 25rem;
    background-color: #ddd;

}